*{
    margin: 0px;
}
.form{
    border-radius: 5px;
    border: 2px solid green;
    padding: 10px;
    margin-top: 10px;
}
.result{
    margin: auto;
    width: 65%;
    background-color: #FFFFEE;
    padding-bottom: 10px;
    border: 5px solid #880000;
    font-family: Arial, Helvetica, sans-serif;
}
.top-result{
    background-color: #FFCCAA;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.anonymus{
    font-weight: bolder;
    margin-left: 5px;
    color: green;
}
.id{
    font-weight: bolder;
    margin-left: 5px;
    color: rgb(126, 19, 0);
    float: right;
    margin-right: 5px;
}
.dots{
    margin-left: 5px;
    color: rgb(126, 19, 0);
}
.date{
    float: right;
    margin-right: 5px;
}
.title{
    margin-left: 5px;
    color: purple;
    font-weight: bolder;
}
.content{
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.content:focus{
    border: none;
}
.center{
    width: 100%;
    min-height: 100px;
    padding: 5px 5px 5px 5px;
}
img{
    height: 100;
}
/*Greentext classes*/
.gt{
    color: green;
    font-weight: 100;
}
.rt{
    color: red;
    font-weight: 100;
}
/*Mobile*/
@media (max-width: 600px) {
    .result{
        margin: auto;
        width: 100%;
        background-color: #FFFFEE;
        padding-bottom: 10px;
        border: 5px solid #880000;
        font-family: Arial, Helvetica, sans-serif;
    }
    .btn{
        margin-top: 10px;
    }
}